# task1

In [ ]:
start=input('enter yeaf')
if start%4==0 and start%100!=0:

In [ ]:
start=input('enter ')

In [ ]:
start=input('enter leap year')
if start%4==0 and start%100!=0:
    elif

In [1]:
n=input('enter the leap year')
if n%4==0 and n%100!=0:
    print('leap year')
elif n%400==0:
    print('leap year')
else:
    print('not a leap year')

enter the leap year367

TypeError: not all arguments converted during string formatting

In [2]:
n=int(input('enter the days'))
if n%4 and n%100!=0:
    print('leap year')
elif n%400==0:
    print('leap year')
else:
    print('not a leap year')

enter the days355
leap year

In [ ]:
n=int(input('enter the days'))
if n%4==0 and n%100!=0:
    print('leap year')
elif n%400==0:
    print('leap year')
else:
    print('not a leap year')

In [ ]:
m=int(input('enyter the leap year'))
if m%4==0 and m%100!=0:
    print('leap yeat')
elif m%400==0:
    print('leap year')
else:
    print('not a LEAP YEAR')

In [6]:
s=int(input('enter the name'))
if s%4==0 and s%100!=0:
    prin('leap yeaR')
elif s%400==0:
    print('leapnyear')
else:
    print('nonleap year')

enter the name765
nonleap year

In [2]:
s=input('enter the day')
if s%4==0 and s!=0:
    print('leap yeAR')
elif s%400==0:
    prnt('leap year')
else:
    print('not leap year')

enter the day400

TypeError: not all arguments converted during string formatting

In [10]:
start=int(input("enter year"))
if start%4==0 and start%100!=0:
    print('leap year')
elif start%400==0:
    print('leap year')
else:
    print('not a leap year')

enter year2000
leap year

In [ ]:
s=int(input('enter the year'))
if s%4==0 and s%100!=0:

In [7]:
s=int(input('enter year'))
if s%4==0 and s%100!=0:
    print('leap year')
elif s%400==0:
    print('lreap')
else:
    print('leap year')

enter year377
leap year

In [4]:
s=int(input('enter the leap year'))
if s%400==0 and s%100!=0:
    print('leap')
elif s%400==0:
    print('leap year')
else:
    print('not leap')

enter the leap year366
not leap

In [ ]:
start=int(input('enter year'))
if start%4==0 and start%100!=0:
    print('leap year')
elif

In [1]:
start=int(input('enter year'))
if start%4==0 and start%100!=0:
    print('leap year')
elif start%400==0:
    print('leap year')
else:
    print('not aleap year')

enter year366
not aleap year

# task3

In [3]:
tp=int(input('total amount'))
if tp<100:
    print('5% discount')
elif tp>100 and tp<200:
    print('total discount is 10%')
elif tp>200 and tp<600:
    print('total discount is 20%')
else:
    print('no discount')

total amount400
total discount is 20%

In [18]:
tp=int(input("total amount"))
print("tp")
if tp<100:
    print("no discount")
elif tp>=100 and tp<150:
    print("discount is 10%")
elif tp>150 and tp<=200:
     print("discount is 15%")
elif tp>200 and tp<=250:
    print("discount is 20%")
else:
    print("discount is 25%")

total amount300
tp
discount is 25%

In [2]:
b=int(input('enter the value'))
if b>100:
    print('discount 20')
elif b>150 and b<200:
    print('35 discount')
else:
    print('no discount')

enter the value101
discount 20

In [4]:
y=int(input('enter the amout'))
print(y)
if y<100:
    print('no discount')
elif y>100 and y<150:
    print('discountid 10%')
elif y>150 and y<200:
    print('discount 15%')

enter the amout250
250

In [5]:
y=int(input('enter the name'))
if y<=100:
    print('10 percentdiscout')
elif y<=400:
    print('20 discount')
else:
    print('25 discount')

enter the name900
25 discount

In [5]:
n=int(input('total amount'))
if n<=100:
    print('15% discount')
elif n>=330:
    print('20% discount')
else:
    print('no discount')

total amount444
20% discount

In [2]:
tp=int(input('total amount'))
print('tp')
if tp<100:
    print('no discount')
elif tp>150 and tp<200:
    print('10% discount')
    
elif tp>200 and tp<400:
    print('discount 50%')
else:print('75 discount')

total amount340
tp
discount 50%

In [ ]:
month=input('enter months')
if month in ('1'):
    print('january =31 days')
    
elif month in ('2'):
    
    print('feb =28/29')
elif month in ('3'):
    
    print('march 31')
    
elif month in ()

# task 2

In [9]:
month=input('enter months:')
if month in ('1'):
    print('january = 31 days')
elif month in ('2'):
    
    print('feb = 28/29')
elif month in ('3'):
    print('march = 31 days')
elif month in ('4'):
          print('april=30 days')
          
elif month in ('5'):
          print('may=31 days')
          
elif month in ('6'):
          print('june =30 days')
          
elif month in ('7'):
          print('july= 31 days')
          
elif month in ('8'):
          print('aug= 30 days')
elif month in ('9'):
          print('sept = 31 days')
elif month in ('10'):
          print('oct = 31 days')
elif month in ('11'):
          print('nov = 30 days')
          
elif month in ('12'):
          print('dec = 31 days')
          
else:
    print('wrong month name')

enter months:9
sept = 31 days

# task4

In [19]:
n= int(input("what is 5 times 2:"))
if n==10:
    print("correct")
else:
    print("incorrect")
    
 #2
s=int(input("what is 56-6:"))
if s==50:
    print("correct")
else:
    print("false")
    
  #3
d=int(input("what is8*9+2:"))
if d==72:
    print("correct")
else:
    print("incorrect")

what is 5 times 2:10
correct
what is 56-6:50
correct
what is8*9+2:72
correct

# task 5

In [7]:
import random
user=input("your choice between rock,paper,scissor:")
poss=['rock','paper','scissor']
computer=random.choice(poss)
print('computerchoice:',computer)
if user=='rock' and computer=='rock':
    print('tie')
if user=='rock' and computer=='paper':
    print('computer wins')
if user=='rock' and computer=='scissor':
    print('user wins')
if user=='paper' and computer=='paper':
    print('tie')
    
if user=='paper' and computer=='rock':
    print('user wins')    
    
if user=='paper' and computer=='scissor':
    print('computer wins')    
if user=='scissor' and computer=='scissor':
    print('tie')    
if user=='scissor' and computer=='rock':
    print('computer wins')        
if user=='scissor' and computer=='paper':
    print('user wins')

your choice between rock,paper,scissor:paper
computerchoice: rock
user wins