# challenge1 sprint1 challenge

In [1]:
area_of_circle=3.14*6**2#area of circle is 3.14*r^2
print(area_of_circle)

113.04

In [5]:
area_of_circle=3.14*6**2
print(area_of_circle)

113.04

In [5]:
are_of_circle=3.14*6**2
print('area of circle =',are_of_circle)

area of circle = 113.04

In [1]:
a=3.14*6*6
print(a)

113.03999999999999

In [1]:
area_of_Circel=3.14*6*2
print(area_of_Circel)

37.68

# challenge2

In [2]:
selling_price=85
sales_tax=18/100

In [3]:
tax=selling_price*sales_tax
print(tax)

15.299999999999999

In [4]:
total_inclusive_tax=(selling_price+tax)
print(total_inclusive_tax)

100.3

# challenge3

In [5]:
_1dollar=75#1doller=75ruoees
money=3333

In [9]:
11000/2

5500.0

In [5]:
1000//7

142

In [6]:
3333/75

44.44

# challenge4

In [7]:
inflation=7/100
INR=500
purchasing_power=INR*100/107
print(purchasing_power)

467.2897196261682

# challenge5

In [8]:
name=input("enter your name..")
language=input("enter your language..")
print('Hello I\'m {} I\'m learning {}'.format(name,language))

enter your name..shahid
enter your language..python
Hello I'm shahid I'm learning python

In [1]:
b=input('enter your name')
l=input('enter the languare')
print('hell i/m {} i a/m learning {}'.format(b,l))

enter your nameshahid
enter the languarenazir
hell i/m shahid i a/m learning nazir

In [2]:
n=input('enter your name')
l=input('enter the language')
print('hello i\m {} i\m learnig {}'.format(n,l))

enter your nameshahid
enter the languagelanguage
hello i\m shahid i\m learnig language

In [11]:
n=input('enter my name')
language=input('enter my language')
print('hello i am {} and i am learning {}'.format(n,language))

enter my nameshahid
enter my languagekashmiri
hello i am shahid and i am learning kashmiri

In [2]:
n=input('enter the name')
h=input('enter your language')
print('hello i am {} i am learning {}'.format(n,h))

enter the nameshahid
enter your languagepython
hello i am shahid i am learning python

In [2]:
name=input('enter the name')
language=input('enter your language')
print('hello i\'m {} i\'m learning {}'.format(name,language))

enter the nameshahid
enter your languagenazir bhat
hello i'm shahid i'm learning nazir bhat

In [3]:
n=input('enter the name')
m=input('enter the language')
print('hello i\'m {} i\'m learning {}'.format(n,m))

enter the nameshahid
enter the languagepython
hello i'm shahid  i'm learning python

In [4]:
v=input('enter the name')
s=input('enter the language')
print('my name is {} and my love is {}'.format(v,s))

enter the nameshahid
enter the languageirtiza
my name is shahid and my love is irtiza

In [5]:
c=input('enter the name')
v=input('my love')
print('my name is {} and my love is {}'.format(c,v))

enter the nameshhaid
my loveirtiza
my name is shhaid and my love is irtiza

In [3]:
m=input('what is youtr name')
n=input('what ids your love name')
print('my name is {} and my love is {}'.format(m,n))

what is youtr nameshahid
what ids your love nameiriza
my name is shahid and my love is iriza

In [6]:
import numpy as np

In [8]:
b=np.arange(1,10000,1)
b

array([   1,    2,    3, ..., 9997, 9998, 9999])

In [7]:
name=input('enter my name')
lang=input('enter the language')
print('i am {} and i am learning {}'.format(name,lang))

enter my nameshahid
enter the languageirtiza
i am shahid and i am learning irtiza

In [1]:
name=input('enter my name')
language=input('enter my langaage')
print('i am {} and i am learning {}'.format(name,language))

enter my nameshahid
enter my langaagepython
i am shahid and i am learning python

In [9]:
name=input('enter the name')
language=input('enter the language')
print('my name is {} and my love is {}'.format(name,language))

enter the nameshahid
enter the languageirtiza
my name is shahid and my love is irtiza

In [1]:
name=input('enter your name')
language=input('enter your language')
print('hello i am {}  i am learning {}'.format(name,language))

enter your nameshahid
enter your languagekashmiri
hello i am shahid  i am learning kashmiri

In [2]:
name=input('enter your name..')
language=input('enter the name')
print('hello i/a {},i\a learning {}'.format(name,language))

enter your name..shahid
enter the namesql
hello i/a shahid,i learning sql

In [1]:
name=input('enter your name..')
language=input('enter your name..')
print('hello i\m {} i\m learning {}'.format(name,language))

enter your name..shahid
enter your name..python
hello i\m shahid i\m learning python

# challenge6

In [31]:
p=float(input('principal amount: '))
r=float(input('rate of intrest : '))
t=float(input('time : '))
si=(p*r*t)/100
print("\simple intrest for principal amount{0}={1}".format(p,si))

principal amount: 10000
rate of intrest : 6
time : 2
\simple intrest for principal amount10000.0=1200.0

In [14]:
p=float(input('principal amount:'))
r=float(input('rate of intrest:'))
t=float(input('time :'))
si=(p*r*t)/100
print(si)

principal amount:500
rate of intrest:7
time :5
175.0

# challenge7

In [8]:
p=int(input("principal amount :"))
r=float(input("rate of intrest :"))
t=int(input("time :"))
a=p*(1+r/100)**t
print('amount:',a) 
print('compund intrest for given value:',a-p)

principal amount :50000
rate of intrest :5.6
time :15
amount: 113221.46689695706
compund intrest for given value: 63221.46689695706

In [2]:
p=int(input('principal amount'))
r=int(input('rate'))
t=int(input('time'))
a=p*(1+r/100)**t

principal amount34
rate2
time1

# challenge8

In [28]:
num_var1=50
num_var2=43
num_var1,num_var2=num_var2,num_var1
print("value of num_var1 :",num_var1)
print("value of num_var2 :",num_var2)

value of num_var1 : 43
value of num_var2 : 50

In [12]:
m=33
d=345
m=d
print('value of m',m)
print('value of d',d)

value of m 345
value of d 345

In [9]:
m=34
n=877
m,n=n,m
print(m)
print(n)

877
34

In [15]:
num_var1=50
num_var2=43
num_var1,num_var2=num_var2,num_var1
print('value of num_var1:',num_var1)
print('value of num_var2:',num_var2)

value of num_var1: 43
value of num_var2: 50

In [2]:
n=9
m=99
n,m=m,n
print(n)
print(m)

99
9

In [16]:
b=99
v=677
b,v=v,b
print(b)
print(v)

677
99

In [4]:
num_var1=50
num_var2=88
num_var1,num_var2=num_var2,num_var1
print(num_var1,num_var2)

88 50

In [5]:
n=88
l=97
n,l=l,n
print(n,l)

97 88

# challenge9

In [10]:
x=int(input('enter distance in km:'))
y=x*0.62137119
print(' the distance in miles:',y)

enter distance in km:3
 the distance in miles: 1.8641135699999998

In [18]:
c=int(input('enter the distance in km:'))
y=c*0.8645778
print('the distance in miles:',y)

enter the distance in km:7
the distance in miles: 6.052044599999999

In [19]:
x=int(input('enter the distance in km :'))
u=x*0.45678
print('the distance in miles :',u)

enter the distance in km :9
the distance in miles : 4.11102

# challenge10

In [12]:
a=2
print('{}*1='.format(a),a*1)

2*1= 2

In [19]:
a=2
print('{}*2='.format(a),a*2)

2*2= 4

In [4]:
a=2
print('{}*2='.format(a),a*2)

2*2= 4

In [20]:
x=8
print('{}*5='.format(x),x*3)

8*5= 24

In [21]:
v=7
print('{}*6='.format(v),v*6)

7*6= 42

In [20]:
a=2
print('{}*3='.format(a),a*3)

2*3= 6

In [21]:
a=2
print('{}*4='.format(a),a*4)

2*4= 8

In [22]:
a=2
print('{}*5='.format(a),a*5)

2*5= 10

In [23]:
a=2
print('{}*6='.format(a),a*6)

2*6= 12

In [24]:
a=2
print('{}*7='.format(a),a*7)

2*7= 14

In [25]:
a=2
print('{}*8='.format(a),a*8)

2*8= 16

In [26]:
a=2
print('{}*9='.format(a),a*9)

2*9= 18

In [22]:
c=7
print('{}*7='.format(c),c*8)

7*7= 56

In [27]:
a=2
print('{}*10='.format(a),a*10)

2*10= 20