# TASK1

In [2]:
myname=["joe","zoe","world","brad","angelina","world","zuki","tom","paris","world","magic"]
if myname=="usa":
    print("true")
else:
    print("false")

false

In [1]:
my=['shahid','danish','cocl','haks','shahid']
if my=='shahid':
    print('true')
else:
    print('false')

false

In [2]:
my.count('shahid')

2

In [ ]:
my=['joe','zoe',]

In [1]:
my=['shahid','irtiza','mango','danish','us','about','new']
if my=='us':
    print('true')
else:
    print('false')

false

In [14]:
myname=["joe","zoe","world","brad","angelina","world","zuki","tom","paris","world","magic"]
if myname=='usa':
    print('true')
else:
    print('false')

false

In [2]:
myname=["joe","zoe","world","brad","angelina","world","zuki","tom","paris","world","magic"]
if myname=='joe':
    print('true')
else:
    print('false')

false

In [5]:
my=['shahid','irtiza','mango','shahid','danish','us','about','new']
c=my.count('shahid')
print(c)

2

# task 2

In [8]:
mynames=["joe","zoe","world","brad","angelina","world","zuki","tom","paris","world","magic"]
count=mynames.count("world")
print(count)

3

In [5]:
mynames=["joe","zoe","world","brad","angelina","world","zuki","tom","paris","world","magic"]

In [6]:
count=myname.count('joe')
print(count)

NameError: name 'myname' is not defined

# task 3

In [9]:
f=list(range(1,30))
odd=0
even=0
for i in f:
    if i%2==0:
        odd=odd+1
    else:
        even=even+1
print(f)  
print('no of odd {}'.format(odd))
print('no of even {}'.format(even))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
no of odd 14
no of even 15

In [16]:
h=list(range(1,30))
odd=0
even=0
for i in h:
    if i%2==0:
        odd=odd+1
else:
        even=even+1
print(h)
print('no of odd {}'.format(odd))
print('no fo even {}'.format(even))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
no of odd 14
no fo even 1

In [17]:
data=list(range(1,30))
odd=0
even=0
for i in data:
    if  i%2==0:
        odd=odd+1
    else:
        even=even+1
print(data)
print('no of odd {}'.format(odd))
print('no of even {}'.format(even))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
no of odd 14
no of even 15

In [3]:
data=list(range(1,30))
odd=0
even=0
for i in data:
    if i%2==0:
        odd=odd+1
    else:
        even=even+1
print(data) 
print('no of odd = {} '.format(odd))
print('no of even = {}'.format(even))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
no of odd = 14
no of even = 15

In [2]:
data=list(range(1,30))
odd=0
even=0
for i in data:
    if i%2==0:
        odd=odd+1
    else:
        even=even+1
print(data) 
print('no of odd ={}'.format(odd))
print('no of even={}'.format(even))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
no of odd =14
no of even=15

In [16]:
dataset=list(range(1,30))
odd=0
even=0
for i in dataset:
    if i%2==0:
        odd=odd+1
    else:
        even=even+1
print(dataset) 
print('no of odd ='.format(odd))
print('no of eve='.format(even))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
no of odd =
no of eve=

In [6]:
d=list(range(1,30))
odd=0
even=0
for i in d:
    if i%2==0:
        odd=odd+1
    else:
        even=even+1
print(d)
print('no of odd={}'.format(odd))
print('no of even={}'.format(even))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
no of odd=14
no of even=15

In [7]:
f=list(range(1,40))
odd=0
even=0
for i in f:
    if i%2==0:
        odd=odd+1
    else:
        even=even+1
print(f) 
print('no of odd ={}'.format(odd))
print('no of even ={}'.format(even))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]
no of odd =19
no of even =20

In [21]:
d=list(range(1,30))
odd=0
even=0
for i in d:
    if i%2==0:
        odd=odd+1
    else:
        even=even+1
print(d) 
print('no of odd={}'.format(odd))
print('no of eve={}'.format(even))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
no of odd=14
no of eve=15

In [7]:
m=list(range(1,30))
odd=0
even=0
for i in m:
    if i%2==0:
        odd=odd+1
    else:
        even=even+1
print(m)   
print('no of odd={}'.format(odd))
print('no of even={}'.format(even))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
no of odd=14
no of even=15

In [4]:
h=list(range(1,30))
odd=0
even=0
for i in h:
    if i%2==0:
        odd=odd+1
    else:
        even=even+1
print(h)
print('no of odd={}'.format(odd))
print('no of even={}'.format(even))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
no of odd=14
no of even=15

In [17]:
dataset=list(range(1,30))
odd=0
even=0
for i in dataset:
    if i%2==0:
         odd=odd+1
    else:
        even=even+1
print(dataset)
print("no of odd number = {}".format(odd))

print("no of even number = {}".format(even))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
no of odd number = 14
no of even number = 15

In [9]:
dataset=list(range(1,30))
odd=0
even=0
for i in dataset:
    if i%2==0:
        odd=odd+1
    else:
        even=even+1
print(dataset)        
print('total no of odd {}'.format(odd))
print('total no even no {}'.format(even))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
total no of odd 14
total no even no 15

In [5]:
data=list(range(1,30))
odd=0
even=0
for i in data:
    if i%2==0:
        odd=odd+1
    else:
        even=even+1
print(data)
print('total  no of odd = {}'.format(odd))
print('total no even = {}'.format(even))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
total  no of odd = 14
total no even = 15

In [7]:
data=list(range(1,30))
odd=0
even=0
for i in data:
    if i%2==0:
        odd=odd+1
    else:
        even=even+1
print(data)
print('no of odd = {}'.format(odd))
print('no of even = {}'.format(even))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
no of odd = 14
no of even = 15

In [11]:
dataset=list(range(1,30))
odd=0
even=0
for i in dataset:
    if i%2==0:
        odd=odd+1
    else:
        eeven=even+1
print(dataset)        
print('odd numbers{}'.format(odd)) 
print('even numbers {}'.format(even))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
odd numbers14
even numbers 0

In [4]:
dataset=list(range(1,30))
odd=0
even=0
for i in dataset:
    if i%2==0:
        odd=odd+1
    else:
        even=even+1
print(dataset) 
print('no of odd number = {}'.format(odd))
print('no of even number = {}'.format(even))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
no of odd number = 14
no of even number = 15

In [21]:
n=list(range(1,322))
odd=0
even=0
for i in h:
    if i %2==0:
        odd=odd+1
    else:
        even=even+1
print(h) 
print('no of odd {}'.format(odd))
print('no of even {}'.format(even))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
no of odd 14
no of even 15

In [24]:
h=list(range(1,322))
odd=0
even=0
for i in h:
    if i%2==0:
        odd=odd+1
    else:
        even=even+1
print(h) 
print('no of odd {}='.format(odd))
print('no of even {}='.format(even))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321]
no of odd 160=
no of even 161=

# task 4

In [10]:
dataset=list(range(1,30))
even=0
el=[]
for i in range (2,30,2):
    if even<5:
        even=even+1
        el.append(i)
print(el,end = ' ')

[2, 4, 6, 8, 10]

In [ ]:
d=list(range(1,30))
even=0

In [21]:
d=list(range(1,30))
print(d[len(d)-1],d[len(d)-3])

29 27

# task 5

In [30]:
s=list(range(1,30)) 
print(s[len(s)-1],s[len(s)-3])

29 27

# task6

In [ ]:
for num in range(1,11):
    if num % 2==

In [10]:
d=list(range(1,30))
x=[]
y=[]
for i in range(2):
    x.append(input('enter value ='))
    
for i in range(2):
    y.append(input('enter value ='))
x.extend(y)
print(x)

enter value =67
enter value =76
enter value =7654
enter value =8765
['67', '76', '7654', '8765']

In [8]:
g=list(range(1,30))
x=[]
y=[]
for i in range(2):
    x.append(input('enter the value'))
for i in range(2):
    y.append(input('enter the value'))
x.extend(y)
print(x)

enter the value3443
enter the value356781
enter the value9089
enter the value12345
['3443', '356781', '9089', '12345']

In [9]:
c=list(range(1,30))
x=[]
y=[]
for i in range(2):
    x.append(input('enter the value'))
for i in range(2):
    y.append(input('enter the value'))
x.extend(y)
print(x)

enter the value463
enter the value7557
enter the value948
enter the value7445
['463', '7557', '948', '7445']

In [10]:
d=list(range(1,30))
x=[]
y=[]
for i in range(2):
    x.append(input('enter the name'))
for i in (range(2)):
    y.append(input('enter the name'))
    x.extend(y)
print(x)

enter the nameshahid
enter the namenazir
enter the namebhat
enter the nameirtiza
['shahid', 'nazir ', 'bhat', 'bhat', 'irtiza']

In [11]:
d=list(range(1,30))
x=[]
y=[]
for i in range(2):
    x.append(input('enter the value'))
for  i in range(2):
    y.append(input('enter the value'))
x.extend(y) 
print(x)

enter the value67
enter the value98
enter the value08
enter the value45
['67', '98', '08', '45']

In [4]:
data=list(range(1,30))
x=[]
y=[]
for i in range(2):
    x.append(input('enter the name'))
for i  in range(2):
    
    y.append(input('enter the name'))
x.extend(y) 
print(x)

enter the nameshahid
enter the nameirtiza
enter the namemohsib
enter the namejhons
['shahid', 'irtiza', 'mohsib', 'jhons']

In [2]:
dataset=list(range(1,30))
x=[]
y=[]
for i in range(5):
    x.append(input("enter value"))
    
for i in range(5):
    y.append(input("enter value"))
x.extend(y) 
print(x)

enter values
enter valuef
enter valuet
enter valuet
enter valueh
enter value2
enter value5
enter value6
enter value7
enter value7
['s', 'f', 't', 't', 'h', '2', '5', '6', '7', '7']

# task 7

In [22]:
 l=list()
for i in range (1,40):
    
        l.append(i**2)
print(l[:10])
print(l[-10:])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521]

In [13]:
k=list()
for i in range (1,100):
    k.append(i**2)
print(k[:10]) 
print(k[-10:])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [7]:
k=list()
for i in range(1,100):
    k.append(i**2)
print(k[:10])  
print(k[-10:])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [17]:
p=list()
for i in range (1,100):
    p.append(i**2)
print(p[:10]) 
print(p[-10:])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [13]:
m=int(input('enter the no'))
for i in range(1,11):
    print(m,'x',i,'=',m*i)

enter the no9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [16]:
m=int(input('display the table'))
for i in range (1,11):
    print(m,'x',i,'=',m*i)

display the table8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [11]:
n=int(input('enter the name'))
for i in range(1,11):
    print(n,'x',i,'=',n*i)

enter the name9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [5]:
m=int(input('ebter the name'))
for i in range(1,11):
    print(m,'x',i,'=',m*i)

ebter the name7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [28]:
num=int(input('display the table'))
for i in range(1,11):
    print(num,'X',i,'=',num*i)

display the table4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [26]:
num=int(input('display the table'))
for i in range(1,11):
    print(num,'X',i,'=',num*i)

display the table6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

In [25]:
num=int(input('display the table'))
for i in range(1,11):
    print(num,'X',i,'=',num*i)

display the table7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [12]:
num=int(input('displat the table'))
for i in range(1,11):
    print(num,'x',i,'=',num*i)

displat the table6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [8]:
num=int(input(' table'))
for i in range ( 1,20):
    print(num,'x',i,'=',num*i)

 table6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72
6 x 13 = 78
6 x 14 = 84
6 x 15 = 90
6 x 16 = 96
6 x 17 = 102
6 x 18 = 108
6 x 19 = 114

In [13]:
n=int(input('display table'))
for i in range (1,11):
    print(num,'x',i,'=',num*i)

display table8
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

# task8

In [24]:
num=int(input('display table'))
for i in range (1,11):
    print ( num ,'x',i,'=',num*i)

display table5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50