# pratice 1

In [18]:
roll_no=100#roll no assign integer value#a
print (roll_no)
print(id (roll_no))
print(type(roll_no))

100
2284364322256
<class 'int'>

In [3]:
roll=100
print(roll)
print(type(roll))
print(id(roll))

100
<class 'int'>
2204062518608

In [5]:
roll_no=23
print(roll_no)

23

In [1]:
roll=23
print(id(roll))

2463713919920

In [2]:
r='100'
print(r)
print(id(r))
print(type(r))

100
2262180806576
<class 'str'>

In [2]:
eoll=122
print(id(eoll))
print(type(eoll))

2720112381968
<class 'int'>

In [2]:
r=89+76
print(r)

165

In [2]:
roll_no=10
print(roll_no)
print(id(roll_no))
print(type(roll_no))

10
2412391891472
<class 'int'>

In [22]:
first_name='shahid'#first_name assign string value#b
print(first_name)
print(id(first_name))
print(type(first_name))

shahid
2284447727344
<class 'str'>

In [3]:
first_name='shahid'
print(first_name)
print(id(first_name))
print(type(first_name))

shahid
2412472223728
<class 'str'>

In [4]:
first_name='shahid'
print(first_name)
print(id(first_name))
print(type(first_name))

shahid
2412472223728
<class 'str'>

In [ ]:
last_n='shahid'

In [ ]:
last_name='nazir'
print(last_name)
print(id(last_name))
print(type(last_name))

In [25]:
last_name='nazir'#last_name assign string value#c
print(last_name)
print(id(last_name))
print(type(last_name))

nazir
2284447778480
<class 'str'>

In [26]:
max_marks=50#max_marks assign integer value#d
print(max_marks)
print(id(max_marks))
print(type(max_marks))

50
2284364132176
<class 'int'>

# pratice2

In [34]:
var1=2
print(var1)
#starts with varible or _#a

2

In [6]:
var=1
print(var)
print(id(var))

1
2412391891184

In [35]:
2var=2
print(2var)
# it should starts with varible or _#b

SyntaxError: invalid syntax (506859380.py, line 1)

In [36]:
var 1=2
print(var 1)
# it should starts with varible or _#c

SyntaxError: invalid syntax (1140940718.py, line 1)

In [37]:
var$2=2
print(var$2)
# it should starts with varible or _#d

SyntaxError: invalid syntax (1981766040.py, line 1)

# pratice3

In [38]:
Class=15
print(Class)
# first should start with captil letter#a

15

In [39]:
class=14
print(class)
# first should start with captil letter#b

SyntaxError: invalid syntax (1492987263.py, line 1)

In [40]:
DEF=13
PRINT(DEF)
# first should start with captil letter#c

NameError: name 'PRINT' is not defined

In [41]:
a=true
print(a)#d

NameError: name 'true' is not defined

In [42]:
b=false
print(false)#e

NameError: name 'false' is not defined

# pratice4

In [44]:
marks=45.5#marks assign float value#a
print(marks)
print(type(marks))
print(id(marks))

45.5
<class 'float'>
2284447465072

In [45]:
marks=35.6#marks assign float value#b
print(marks)
print(id(marks))
print(type(marks))

35.6
2284447464016
<class 'float'>

# pratice5

In [46]:
marks=45
maxmarks=50
print(marks/maxmarks*100)#marks/maxmarks *100 percentage farmula#a

90.0

In [7]:
m=88
max=98
print(m/max)

0.8979591836734694

In [8]:
first='shahid'
last='nazir'
print(first+' '+last)

shahid nazir

In [9]:
first='shahid'
last='nazir'
print(first+' '+last)

shahid nazir

In [48]:
first_name='shahid'
last_name='nazir'
print(first_name+' '+last_name)#concnatation#b

shahid nazir

In [95]:
First_name='shahid'
Last_name='nazir'
print(first_name,' ',last_name)#c

shahid   nazir

In [4]:
g='shahid'
n='bhat'
print(g+' '+n)

shahid bhat

In [99]:
marks=85
print((marks/100)*100,'%')

85.0 %

In [11]:
marks=98
print((marks/100)*100,'%')

98.0 %

In [13]:
marks=95
print((marks/100)*100,'%')

95.0 %

In [102]:
print((First_name,' ',Last_name,"scored",int(marks/100)*100),'%')

('shahid', ' ', 'nazir', 'scored', 0) %

# pratice6

In [52]:
roll_no={1:'shahid'}#dictionary created
print(roll_no)

{1: 'shahid'}

In [14]:
roll_no={1:'shahid'}
print(roll_no)

{1: 'shahid'}

In [60]:
l=[22,'shahid',50]#list created
print(l)

[22, 'shahid', 50]

In [16]:
s={1:'shahid'}
print(s)

{1: 'shahid'}

# pratice7

In [62]:
1+'2'#we cannot do arathmatic on string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [63]:
"1"+"2"#we cannot do arathmatic on string

'12'

In [64]:
1/2#we can do arathmatic on float

0.5

In [65]:
1//2#we can do arathmatic on int

0

In [11]:
1//2#we can do arathmatic on int

0

# pratice 7

In [57]:
True and True#and returns true if both the statement are true

True

In [58]:
True and False#and returns true if both the statement are true

False

In [55]:
False or True#or returns true if one statement is true

True

In [54]:
False or False#or returns true if one statement is true

False

# pratice 9

In [44]:

first_name='shahid'
full_name='shahid nazir bhat'
full_name in full_name#in operator helps to find any name or value in other colums

True

In [40]:
first_name='shahid'
full_name='shahid nazir bhat'
first_name is full_name#is operator helps to find any name or value in other colums

False

# pratice 10

In [41]:
a=4
b=3
c=2
d=a**b+c
e=a**(b+c)
print('d:',d)
print('e:',e)

d: 66
e: 1024

In [18]:
a=7
b=8
c=6
d=a**b+c
e=a**(b+c)
print('d:',d)
print('e:',e)

d: 5764807
e: 678223072849

# pratice11

In [43]:
area_of_circle=3.14*6*6#area of circle is 3.14*r^2
print(area_of_circle)

113.03999999999999

In [21]:
are=3.14*6*6
print(are)

113.03999999999999

# pratice12

In [62]:
selling_price=85
sales_tax=18/100

In [49]:
tax=selling_price*sales_tax
print(tax)

15.299999999999999

In [65]:
total_inclusive_tax=(selling_price+tax)
print(total_inclusive_tax)

100.3

# pratice13

In [ ]:
_1dollar=75#1doller=75ruoees
money=3333

In [64]:
3333/75

44.44

# pratice14

In [66]:
inflation=7/100
INR=500
purchasing_power=INR*100/107
print(purchasing_power)

467.2897196261682

In [22]:
infalation=7/100
inr=500
purchasing_power=inr*100/107
print(purchasing_power)

467.2897196261682

In [2]:
word='shahid'
word[:3]

'sha'

In [6]:
l1=[1,45,76,87]
l1.insert(87,45)
l1

[1, 45, 76, 87, 45]

In [8]:
l1.pop(2)
l1

[1, 45, 45]

In [10]:
l1.remove(45)
l1

[1]

In [5]:
a={"name","harry"
  "from","india"
  "marks",[96,87,45,78]}
a.iteam()

TypeError: unhashable type: 'list'