# task 1

In [2]:
def  ispalendroma(s):
    return s ==s[::-1]
s= "nitin"
ans= ispalendroma(s)
if ans:
    print("true")
else:
    print("false")

true

In [1]:
def ispalendroma(s):
    return s==s[::-1]
s="nitin"
ans=ispalendroma(s)
if ans:
    print('true')
else:
    print('false')

true

In [3]:
def ispalendroma(s):
    return s==s[::-1]
s='nitin'
ans=ispalendroma(s)
if ans:
    print('true')
else:
    print('false')

true

In [2]:
b='danish'

In [3]:
ispalendroma(b)

False

In [5]:
ispalendroma(s)

True

In [26]:
def ispalendrom(c):
    return s==s[::-1]
c='nitin'
a=ispalendrom(c)
if a:
    print('true')
else:
    print('false')

false

In [4]:
s=[45,87,76,45,23,90]
s.sort()
s

[23, 45, 45, 76, 87, 90]

In [7]:
m=[22,234,678,543,23246,788,4443,2344]
m.sort()
m

[22, 234, 543, 678, 788, 2344, 4443, 23246]

In [10]:
m.pop()

788

In [11]:
m

[22, 543, 678, 2344, 4443, 23246]

In [5]:
s=[34,23,45,7,8,244,56,34,567,98]
s.sort()
print(s)

[7, 8, 23, 34, 34, 45, 56, 98, 244, 567]

In [18]:
s.append(8)
s

[23, 45, 45, 76, 87, 90, 8, 8]

In [21]:
s.pop(1)
s

[23, 76, 87, 90, 8, 8]

In [23]:
s.remove(90)

ValueError: list.remove(x): x not in list

In [24]:
s

[23, 76, 87, 8, 8]

In [ ]:
def is palendrome(x):
    return x==x[::-1]
s='nitin'
ans=ispalendrome(s)

In [3]:
def ispalendrome(s):
    return s==s[::-1]
s='nitin'
if s:
    print('true')
else:
    print(false)

true

In [ ]:
n=int(input('enter '))
for i in range(n)

In [1]:
def ispalendrome(s):
    return s==s[::-1]
s='nitin'
d=ispalendrome(s)
if d:
    print('true')
else:
    print('false')

true

In [7]:
def ispalendrome(s):
    return s==s[::-1]
s='shahid'
anas=ispalendroma(s)
if ans:
    print('true')
else:
    print('false')

true

In [4]:
def ispalendroma(s):
    return s==s[::-1]
s='nitin'
ana=ispalendroma(s)
if ans:
    print('true')
else:
    print('false')

true

In [3]:
def ispalendroma(s):
    return s==s[::-1]
s='nitin'
ans=ispalendroma(s)
if ans:
    print('true')
else:
    print('false')

true

# task 2

In [13]:
def func (x,y):
    sum=x+y

In [27]:
def func (x,y):
    sum=x+y

In [30]:
def func(x):
    return sorted(x)

In [12]:
x=input('enter the value')
func(x.lower())

enter the valueshahid

NameError: name 'func' is not defined

In [14]:
x=input("enter string")
func(x.lower())

enter stringshahid

TypeError: func() missing 1 required positional argument: 'y'

# task 3

In [22]:
import functools
def convert(s):
    str1=functools.reduce(lambda x,y:x+y,s)
    
    return str1
s = ['s','h','a','h','i','d']
print(convert(s))

shahid

# task 4

In [55]:
def max_min():
    n=[1,2,3,4,5]
    print("smallest number:",min(n))
    print("largest number:",max(n))

In [8]:
def min_max():
    n=[1,2,56,78,56]
    print('smalest no :',min(n))
    print('larhe no:',max(n))

In [9]:
min_max()

smalest no : 1
larhe no: 78

In [2]:
def min_max():
    n=[1,4,67,3,434,4]
    print('smallest no',min(n))
    print('largest number',max(n))

In [3]:
min_max()

smallest no 1
largest number 434

In [56]:
max_min()

smallest number: 1
largest number: 5

# task 5

In [10]:
d={"iteam1":45.50,"iteam2":35,"iteam3":41.30,"iteam4":29,"iteam5":49.89}
print(max(d.values()))
print(min(d.values()))

49.89
29

In [12]:
d={'iteams':45,'iteam2':988,"itema6":45}
print(min(d.values()))

45

# task 6

In [16]:
a= ['shahid','40','male']
def xy():
    x=['name','age','gender']
        print(x)
    print(a)

In [ ]:
def ax():
print(x)
print(a)

In [17]:
xy()

['name', 'age', 'gender']
['shahid', '40', 'male']

# task 7

In [12]:
def  outer_fun():
    x =int(input('enter a values of x: '))
    y =int(input('enter avalues of y: '))
    def inner_function(x,y):
        return x**2*y
    result = inner_function (x,y)
    print ('result: ',result)

In [13]:
outer_fun()

enter a values of x: 6
enter avalues of y: 7
result:  252

# task 8

In [57]:

colour=[('black',4),('green',1),('red',5),('blue',2),('yellow',3)]
colour2=dict(colour)
print(sorted(colour2.items(),key=lambda x:x[1]))

[('green', 1), ('blue', 2), ('yellow', 3), ('black', 4), ('red', 5)]

In [ ]:
num=int(input(;enter the name))
for i in range(1,11):
    print(num,'x',i,,)

In [ ]:
num=int(input('display  table'))
for i in range(1,11):
    print(num,"x",i,"=",num*i)

In [13]:
m=['as','jk','hjj','pop']
n=['he','jk','hf','us']
print(m)
print(n)
result=list(filter(lambda x:x in m,n))
print(result)

['as', 'jk', 'hjj', 'pop']
['he', 'jk', 'hf', 'us']
['jk']

In [13]:
m=['shahid','irtiza','sih','itl']
n=['jk','df','gh','de']
print(m)
print(n)
result=list(filter(lambda x:x in m,n))
print(result)

['shahid', 'irtiza', 'sih', 'itl']
['jk', 'df', 'gh', 'de']
[]

# task 9

In [6]:
m=['shahid','irtiza','junaid']
n=['princy','abu','shahid']
print(m)
print(n)
result=list(filter(lambda x:x in m,n))
print(result)

['shahid', 'irtiza', 'junaid']
['princy', 'abu', 'shahid']
['shahid']

In [20]:
m=['shahid','mohsin','irtiza']
n=['shahid','loves','irtiza']
print(m)
print(n)
print=list(filter(lambda x:x in m,n))

['shahid', 'mohsin', 'irtiza']
['shahid', 'loves', 'irtiza']

In [19]:
a=["andy","mady","sandy"]
b=["handy","brandy","mady"]
print("orgain arry:")
print(a)
print(b)
reasult=list(filter(lambda x:x in a,b))
print("\nintersection of the arry:",reasult)

orgain arry:
['andy', 'mady', 'sandy']
['handy', 'brandy', 'mady']

intersection of the arry: ['mady']

# task 10

In [19]:
c=[12,1,14]
d=[17,16,15]
print("orgain arry:")
print(c)
print(d)
reasult=map(lambda x,y:x+y, c,d)
print("\nreasult:after adding two list")
print(list(reasult))

orgain arry:
[12, 1, 14]
[17, 16, 15]

reasult:after adding two list
[29, 17, 29]

In [14]:
c=[12,23,56]
d=[56,78,87]
print(c)
print(d)
result=map(lambda x,y:x+y,c,d)
print(list(result))

[12, 23, 56]
[56, 78, 87]
[68, 101, 143]

In [15]:
c=[12,34,56,33]
v=[45,66,78,98]
print(c)
print(v)
result=map(lambda x,y:x+y,c,v)
print(list(result))

[12, 34, 56, 33]
[45, 66, 78, 98]
[57, 100, 134, 131]

In [17]:
c=[8,56,78,98]
m=[56,45,34,87]
print(c)
print(m)
result=map(lambda x,y:x+y,c,m)
print(result)

[8, 56, 78, 98]
[56, 45, 34, 87]
<map object at 0x000001D34C082590>

In [11]:
c=[13,1,16]
d=[17,16,15]
print(c)
print(d)
result=map(lambda x,y:x+y ,c,d)
print(list(result))

[13, 1, 16]
[17, 16, 15]
[30, 17, 31]