# task 1

In [6]:
n=int(input("enter no:"))
f=1
for i in range (1,n+1):
    f=f*i
print('factorial of {} is {}'.format(n,f))

enter no:8
factorial of 8 is 40320

In [9]:
n=int(input('ebnter the number'))
f=1
for i in range(1,n+1):
    f=f*i
print('factorial of {} is {}'.format(n,f))

ebnter the number8
factorial of 8 is 40320

In [10]:
m=int(input('enter the number'))
f=1
for i in range(1,m+1):
    f=f*i
print('favtorial of {}is  {}'.format(m,f))

enter the number5
favtorial of 5is  120

In [5]:
n=int(input('enter the number'))
f=1
for i in range(1,n+1):
    f=f*1
print('factoriaL OF {} is {}'.format(n,f))

enter the number8
factoriaL OF 8 is 1

In [1]:
n=int(input('enter the number'))
f=1
for i in range (1,n+1):
    f=f*1
print('factorial of {} id  {}'.format(n,f))

enter the number8
factorial of 8 id  1

In [6]:
n=int(input('enter the nuber'))
f=1
for i in range(1,n+1):
    f=f*i
print('factorial of {} is {}'.format(n,f))

enter the nuber8
factorial of 8 is 40320

In [3]:
p=int(input('enter the name'))
f=1
for i in range(1,p+1):
    f=f*i
print('factoriAL OF {} is {}'.format(p,f))

enter the name6
factoriAL OF 6 is 720

In [2]:
n=int(input('enter the number'))
f=1
for i in range(1,n+1):
    f=f*i
print('factoriA;L OF {} IS {}'.format(n,f))

enter the number8
factoriA;L OF 8 IS 40320

In [7]:
m=int(input('enter the number'))
l=1
for i in range(1,m+1):
    f=m*l
print('enter the factorial of {} is {}'.format(n,l))

enter the number6
enter the factorial of 8 is 1

In [3]:
n=int(input('enter the name'))
f=1
for i in range (1,n+1):
    f=f*i
print('factorial of {}is {}'.format(n,f))

enter the name5
factorial of 5is 120

In [18]:
n=int(input('enter the name'))
f=1
for i in range (1,n+1):
    f=f*i
print('factorial {} is {}'.format(n,f))

enter the name7
factorial 7 is 5040

In [19]:
n=int(input('enter your number'))
f=1
for i in range (1,n+1):
    f=f*i
print('tne factorial of {} is {}'.format(n,f))

enter your number7
tne factorial of 7 is 5040

In [15]:
b={'fygftf':34,'guuy':56}

dict(b)

{'fygftf': 34, 'guuy': 56}

In [4]:
m=int(input('enter the value'))
f=1
for i in range (1,m+1):
    f=f*i
print('factorial of {} is {}'.format(m,f))

enter the value7
factorial of 7 is 5040

In [2]:
n=int(input('enter the no'))
f=1
for i in range (1,n+1):
    f=f*i
print('factorialof {} id {}'.format(n,f))

enter the no4
factorialof 4 id 24

In [ ]:
n=int(input('enter no'))
f=1
for i in range (1,n+1):
    f=f+1
print('factorial of {} is {}'.format(n,f))

In [5]:
m=int(input('enter no'))
f=1
for i in range(1,m+1):
    f=f*i
print('factorial of {} is {}'.format(m,f))

enter no5
factorial of 5 is 120

In [21]:
m=int(input('enter your name'))
f=1
for i in range(1,n+1):
    
    f=f*i
print('factoriAL of {},is {}'.format(n,f))

enter your name8
factoriAL of 6,is 720

In [20]:
n=int(input('enter no'))
f=1
for i in range(1,n+1):
    f=f*i
print('factorial of {}is {}'.format(n,f))

enter no6
factorial of 6is 720

# task2

In [23]:
i=2
while i<=20:
    j=2
    f=True
    while j<=i//2:
        if i%j==0:
            f=False
                
        j=j+1
    if f==True:
        print(i,end=" ")
    i=i+1

2 3 5 7 11 13 17 19

In [ ]:
i=2
while i<=20:
    j=2
    f=True

# task 3

In [14]:
n=int(input("enter number"))
s=0
while n>0:
    r=n%10
    s=s+r
    n=n//10
print('sum of all  {}'.format(s))

enter number12345
sum of all  15

In [18]:
num=int(input('display  table'))
for i in range(1,11):
    print(num,"x",i,"=",num*i)

display  table9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

# task4

In [6]:
a=1
b=2
n=0
while  n<=7:
    c=a+b
    print(c,end=' ')
    a=b
    b=c
    n+=1

3 5 8 13 21 34 55 89

In [12]:
t1=(1,33,56,355,245)
print('id of t1 is:',id(t1))

id of t1 is: 2365642972016

# task 5

In [14]:
t1=(1,2,3,4)
t2=(5,6,7,8)
print('id of t1:',id(t1))
print('id of t2:',id(t2))

id of t1: 1735652776032
id of t2: 1735652209584

In [15]:
t1=t1+t2
print('id of t1:',id(t1))
print('id of t2:',id(t2))

id of t1: 1735621977584
id of t2: 1735652209584

# task 6

In [25]:
m={10,20,30,40}
n={30,40,50,60,70}
i=0
for i in (n):
    m.add(i)
print(sorted(m))

[10, 20, 30, 40, 50, 60, 70]

In [14]:
m=[23,45,67,87,76,45]
n=[979,865,9744,8765]
i=0
for i in range(n):
    m.add(i)
print(sorted(i))

TypeError: 'list' object cannot be interpreted as an integer

In [24]:
m=[23,14,87,54]
n=[98,76,45,34]
i=0
for i in (n):
    m.add(i)
print(sorted(m))

AttributeError: 'list' object has no attribute 'add'

In [6]:
m={10,24,34,65}
n={40,86,24,10,24}
i=0
for i in (n):
    m.add(i)
print(sorted(m))

[10, 24, 34, 40, 65, 86]

In [2]:
m={65,87,76,45,45,97}
n={56,34,56,76,87,90}
i=0
for i in (n):
    m.add(i)
print(sorted(m))

[34, 45, 56, 65, 76, 87, 90, 97]

In [1]:
m={34,45,23,342}
n={64,34,33,98}
i=0
for i in (n):
    m.add(i)
print(sorted(m))

[23, 33, 34, 45, 64, 98, 342]

# task 7

In [27]:
e={'sga':1,'ghh':2,'khgg':3}
for k,v in e.items():
    if v %2==0:
        print(v)

2

In [19]:
port1={'ftp':1,'ssh':2,'telnet':3,'http':4}

for k,v in port1.items():
    if v%2==0:
        
        print(v)

2
4

In [29]:
n={'dffd':2,'ddff':4,'jhf':9}
for k,v in n.items():
    if v%2==0:
        print(k)

dffd
ddff

In [8]:
p={'pgt':1,'pddgv':2,'kghg':3}
for k,v in p.items() :
    if v%2==0:
        print(v)

2

# task 8

In [11]:
d={}
for i in range (1,16):
    d[i]=i*i
print ('orginal dictonary:',d)

d[100]=10000
print('update dictionary:',d)

orginal dictonary: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
update dictionary: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 100: 10000}

In [34]:
h={}
for i  in range(1,16):
    h[i]=i*i
print('orginal disconary',h) 
h[i]=100
print('updated',h)

orginal disconary {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
updated {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 100}

In [ ]:
d={}
for i in range(1,70):
    d[i]=i*i
print('create',d) 
d[78]=800
d[79]=890
print('update',d)

In [7]:
d={}
for i in range(1,16):
    d[i]=i*i
print('orginal dictonary',d) 
d[16]=1000
d[17]=6550
print('updated dictionary',d)

orginal dictonary {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
updated dictionary {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 1000, 17: 6550}

# task 9

In [36]:
d1={21:'ftp',22:'ssh',23:'telnet',24:'http'}
d2={}
for k,v in d1.items():
    d2[v]=k
d2

{'ftp': 21, 'ssh': 22, 'telnet': 23, 'http': 24}

In [12]:
d1={43:'shah',22:'jgdd',78:'iyf',90:'rtfv'}
d2={}
for k.v in d1.items():
    d2[v]=k
    d2

NameError: name 'k' is not defined

In [36]:
d1={21:'gf',45:'ytt',98:'uf'}
d2={}
for k,v in d1.items():
    d2[v]=k
d2

{'gf': 21, 'ytt': 45, 'uf': 98}

In [13]:
d1={21:'ftp',22:'sdd',34:'dhdg',76:'ufg'}
d2={}
for k,v in d1.items():
    d2[v]=k
d2

{'ftp': 21, 'sdd': 22, 'dhdg': 34, 'ufg': 76}

# task 10

In [10]:
employee={'emp1':{'name':'Aara','dept':'it','desigination':'team lead'},
'emp2':{'name':'anna','dept':'it','designation':'senior software enginer'},
'emp3':{'name':'andy','dept':'biotech','designation':'senior software enginer'},
'emp4':{'name':'andy','dept':'biotech','designation':'senior software enginer'}}

employee2={} 
for k,v in employee.items():
          if v not in employee2.values():
            employee2[k]=v
print(employee2)

{'emp1': {'name': 'Aara', 'dept': 'it', 'desigination': 'team lead'}, 'emp2': {'name': 'anna', 'dept': 'it', 'designation': 'senior software enginer'}, 'emp3': {'name': 'andy', 'dept': 'biotech', 'designation': 'senior software enginer'}}

In [37]:
employee={'emp1':{'name':'Aara','dept':'it','desigination':'team lead'},
'emp2':{'name':'anna','dept':'it','designation':'senior software enginer'},
'emp3':{'name':'andy','dept':'biotech','designation':'senior software enginer'},
'emp4':{'name':'andy','dept':'biotech','designation':'senior software enginer'}}
employee2={}
for k,v in employee.items():
    if v not in employee2.values():
        employee2[k]=v
print(employee2)

{'emp1': {'name': 'Aara', 'dept': 'it', 'desigination': 'team lead'}, 'emp2': {'name': 'anna', 'dept': 'it', 'designation': 'senior software enginer'}, 'emp3': {'name': 'andy', 'dept': 'biotech', 'designation': 'senior software enginer'}}

In [15]:
employee={'emp1':{'name':'Aara','dept':'it','desigination':'team lead'},
'emp2':{'name':'anna','dept':'it','designation':'senior software enginer'},
'emp3':{'name':'andy','dept':'biotech','designation':'senior software enginer'},
'emp4':{'name':'andy','dept':'biotech','designation':'senior software enginer'}}
employee2={}
for k,v in employee.items():
    if v not in employee2.values():
        
        employee2[k]=v
employee2

{'emp1': {'name': 'Aara', 'dept': 'it', 'desigination': 'team lead'},
 'emp2': {'name': 'anna',
  'dept': 'it',
  'designation': 'senior software enginer'},
 'emp3': {'name': 'andy',
  'dept': 'biotech',
  'designation': 'senior software enginer'}}

In [16]:
employee={'emp1':{'name':'Aara','dept':'it','desigination':'team lead'},
'emp2':{'name':'anna','dept':'it','designation':'senior software enginer'},
'emp3':{'name':'andy','dept':'biotech','designation':'senior software enginer'},
'emp4':{'name':'andy','dept':'biotech','designation':'senior software enginer'}}
employee2={}
for k,v in employee.items():
    if v not in employee2.values():
        employee2[k]=v
        
employee2

{'emp1': {'name': 'Aara', 'dept': 'it', 'desigination': 'team lead'},
 'emp2': {'name': 'anna',
  'dept': 'it',
  'designation': 'senior software enginer'},
 'emp3': {'name': 'andy',
  'dept': 'biotech',
  'designation': 'senior software enginer'}}

In [17]:
employee={'emp1':{'name':'Aara','dept':'it','desigination':'team lead'},
'emp2':{'name':'anna','dept':'it','designation':'senior software enginer'},
'emp3':{'name':'andy','dept':'biotech','designation':'senior software enginer'},
'emp4':{'name':'andy','dept':'biotech','designation':'senior software enginer'}}
employee2={}
for k,v in employee.items():
    if v not in employee2.values():
        employee2[k]=v
employee2

{'emp1': {'name': 'Aara', 'dept': 'it', 'desigination': 'team lead'},
 'emp2': {'name': 'anna',
  'dept': 'it',
  'designation': 'senior software enginer'},
 'emp3': {'name': 'andy',
  'dept': 'biotech',
  'designation': 'senior software enginer'}}

In [4]:
n=int(input("entertheno"))
def factorial(n):
    if n == 1:
        return n 
    else:
        return(n*factorial(n-1))
print(factorial(n))

entertheno6
720

In [8]:
factorial(n)

720